<div class="container mt-mt5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="iniciarSesion()">
                        <div class="mb-3">
                            <input type="text" formControlName="id" class="form-control form-control-lg" placeholder="Introduzca su ID">
                        </div>
                        <button class="btn btn-success float-end" type="submit">Iniciar sesión</button>
                        <button type="button" class="btn btn-danger float-end hidden" *ngIf="loggedRole != -1" (click)="cerrarSesion()">Cerrar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <!-- CREACIÓN DE USUARIOS ------------------------------------------------------------->
                <div *ngIf="loggedRole == -1" class="card-body text-center">
                    <span class="titulo">Acciones disponibles:</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="crearUsuario()">
                        <div class="mb-3 form-control form-control-lg">
                            <h2>Registrarse como:</h2>

                            <div>
                                <input class="example-radio-button" type="radio" id="cliente" name="options" value="cliente">
                                <label for="cliente"> Cliente</label>
                            </div>
                            <div>
                                <input class="example-radio-button" type="radio" id="admin" name="options" value="admin">
                                <label for="admin"> Admin</label>
                            </div>

                        </div>
                        <button class="btn btn-info float-end" type="submit">Darse de alta</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <!-- PARA USUARIOS/ADMINS ------------------------------------------------------------->
                <div *ngIf="loggedRole == 0 || loggedRole == 1" class="card-body text-center">
                    <span class="titulo">Acciones disponibles:</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="borrarUsuario()">
                        <button class="btn btn-danger float-end" type="submit">Darse de baja</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <!-- PARA ADMINS ------------------------------------------------------------->
                <div *ngIf="loggedRole == 1" class="card-body text-center">
                    <span class="titulo">Acciones disponibles:</span>
                    <h2>Consulta de usuarios:</h2>
                    <form class="mt-3" [formGroup]="consultaForm" (ngSubmit)="consultaUsuarios()">
                        <div class="mb-3">
                            <input type="text" formControlName="id" class="form-control form-control-lg" placeholder="Introduzca el ID">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="rol" class="form-control form-control-lg" placeholder="Introduzca el rol">
                        </div>
                        <button class="btn btn-success float-end" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>