<div class="container mt-mt5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card" *ngIf="pidiendoID">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="sesionForm" (ngSubmit)="defaultClickHandler()">
                        <div class="mb-3">
                            <input type="text" formControlName="_id" class="form-control form-control-lg"
                                placeholder="Introduzca su ID">
                            <button class="btn btn-success float-end" type="submit">Continuar</button>
                            <button type="button" class="btn btn-danger float-end"
                                (click)="pidiendoID = false;">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!pidiendoID" class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <span class="titulo form-control-lg">Acciones disponibles:</span>
            </div>
            <div class="card">
                <!-- CREACIÓN DE USUARIOS ------------------------------------------------------------->
                <div class="card-body text-center">
                    <form class="mt-3" [formGroup]="crearForm" (ngSubmit)="crearUsuario()">
                        <div class="mb-3 form-control-lg">
                            <h2>Registrarse como:</h2>

                            <div>
                                <input class="example-radio-button" formControlName="rol" type="radio" id="cliente"
                                    name="rol" value="cliente">
                                <label for="cliente">Cliente</label>
                            </div>
                            <div>
                                <input class="example-radio-button" formControlName="rol" type="radio" id="admin"
                                    name="rol" value="admin">
                                <label for="admin">Admin</label>
                            </div>

                        </div>
                        <button class="btn btn-info float-end" type="submit">Darse de alta</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <!-- PARA USUARIOS/ADMINS ------------------------------------------------------------->
                <div class="card-body text-center">
                    <button class="btn btn-danger float-end" (click)="borrarUsuario()">Darse de baja</button>
                </div>
            </div>
            <div class="card">
                <!-- PARA ADMINS ------------------------------------------------------------->
                <div class="card-body text-center">
                    <h2>Consulta de usuarios:</h2>
                    <form class="mt-3" [formGroup]="consultaForm" (ngSubmit)="consultaUsuarios()">
                        <div class="mb-3">
                            <input type="text" formControlName="_id" class="form-control form-control-lg"
                                placeholder="Introduzca el ID">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="rol" class="form-control form-control-lg"
                                placeholder="Introduzca el rol">
                        </div>
                        <button class="btn btn-success float-end" type="submit">Buscar</button>
                        <i (click)="reestablecerTodo()" class="fa fa-refresh text-primary float-end mt-2 me-2"
                            aria-hidden="true"></i>
                    </form>
                    <table *ngIf="listUsuarios.length >  0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of listUsuarios">
                                <td>{{ usuario._id}}</td>
                                <td>{{ usuario.rol }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 *ngIf="listUsuarios.length == 0">No hay usuarios para mostrar
                    </h2>
                </div>
            </div>
        </div>

    </div>
</div>