<div class="container mt-mt5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="sesionForm" (ngSubmit)="iniciarSesion()">
                        <div class="mb-3">
                            <input type="text" formControlName="id" class="form-control form-control-lg"
                                placeholder="Introduzca su ID">
                        </div>
                        <button class="btn btn-success float-end" type="submit">Iniciar sesión</button>
                        <div *ngIf="loggedRole != 'sinrol'">
                            <span class="titulo">ID: {{ idUsuario }} Rol: {{ loggedRole }}</span>
                            <button type="button" class="btn btn-danger float-end hidden"
                                (click)="cerrarSesion()">Cerrar sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <span class="titulo form-control-lg">Acciones disponibles:</span>
            </div>
            <div class="card">
                <!-- CREACIÓN DE USUARIOS ------------------------------------------------------------->
                <div *ngIf="loggedRole == 'sinrol'" class="card-body text-center">
                    <form class="mt-3" [formGroup]="crearForm" (ngSubmit)="crearUsuario()">
                        <div class="mb-3 form-control-lg">
                            <h2>Registrarse como:</h2>

                            <div>
                                <input class="example-radio-button" formControlName="rol" type="radio" id="cliente"
                                    name="rol" value="cliente">
                                <label for="cliente">Cliente</label>
                            </div>
                            <div>
                                <input class="example-radio-button" formControlName="rol" type="radio" id="admin"
                                    name="rol" value="admin">
                                <label for="admin">Admin</label>
                            </div>

                        </div>
                        <button class="btn btn-info float-end" type="submit">Darse de alta</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <!-- PARA USUARIOS/ADMINS ------------------------------------------------------------->
                <div *ngIf="loggedRole == 'admin' || loggedRole == 'cliente'" class="card-body text-center">
                    <button class="btn btn-danger float-end" (click)="borrarUsuario()">Darse de baja</button>
                </div>
            </div>
            <div class="card">
                <!-- PARA ADMINS ------------------------------------------------------------->
                <div *ngIf="loggedRole == 'admin'" class="card-body text-center">
                    <h2>Consulta de usuarios:</h2>
                    <form class="mt-3" [formGroup]="consultaForm" (ngSubmit)="consultaUsuarios()">
                        <div class="mb-3">
                            <input type="text" formControlName="id" class="form-control form-control-lg"
                                placeholder="Introduzca el ID">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="rol" class="form-control form-control-lg"
                                placeholder="Introduzca el rol">
                        </div>
                        <button class="btn btn-success float-end" type="submit">Buscar</button>
                    </form>
                    <table *ngIf="listUsuarios.length >  0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of listUsuarios">
                                <td>{{ usuario.id}}</td>
                                <td>{{ usuario.rol }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listUsuarios.length == 0">No hay productos
                        para mostrar
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>