<div class="container mt-mt5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="mongoForm" (ngSubmit)="agregarProducto(false, '')">
                        <div *ngIf="busca === '1'" class="mb-3">
                            <input type="text" formControlName="_id" class="form-control form-control-lg"
                                placeholder="ID Mongo">
                        </div>
                    </form>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto(false, '')">
                        <div class="mb-3">
                            <input type="text" formControlName="color" class="form-control form-control-lg"
                                placeholder="Color" [required]="busca !== '1'">

                            <div class="text-danger"
                                *ngIf="productoForm.get('color')?.hasError('required') && productoForm.get('color')?.touched">
                                <span>El color del producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="hoja" class="form-control form-control-lg"
                                placeholder="Hoja">

                            <div class="text-danger"
                                *ngIf="productoForm.get('hoja')?.hasError('required') && productoForm.get('hoja')?.touched">
                                <span>El tipo de hoja del produto <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <input type="text" formControlName="tapa" class="form-control form-control-lg"
                                placeholder="Tapa">

                            <div class="text-danger"
                                *ngIf="productoForm.get('tapa')?.hasError('required') && productoForm.get('tapa')?.touched">
                                <span>El tipo de tapa del produto <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <input type="number" formControlName="precio" class="form-control form-control-lg"
                                placeholder="Precio">

                            <div class="text-danger"
                                *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                <span>El precio del produto <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <input type="number" formControlName="stock" class="form-control form-control-lg"
                                placeholder="Stock">

                            <div class="text-danger"
                                *ngIf="productoForm.get('stock')?.hasError('required') && productoForm.get('stock')?.touched">
                                <span>El stock del produto <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <button class="btn btn-success float-end" routerLink="/admin/">NUEVO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE LIBRETAS</span>
                    <i [routerLink]="['/admin/buscar-producto', '1']"
                        class="fa fa-search text-primary float-end mt-2 me-2" aria-hidden="true"></i>
                    <i [routerLink]="['/admin']" class="fa fa-refresh text-primary float-end mt-2 me-2"
                        aria-hidden="true"></i>

                    <table *ngIf="listProductos.length >  0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Color</th>
                                <th scope="col">Hoja</th>
                                <th scope="col">Tapa</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listProductos">
                                <td>{{ producto._id }}</td>
                                <td>{{ producto.color }}</td>
                                <td>{{ producto.hoja }}</td>
                                <td>{{ producto.tapa }}</td>
                                <td>{{ producto.precio}}</td>
                                <td>{{ producto.stock }}</td>
                                <td>
                                    <i (click)="agregarProducto(false, producto._id || '')"
                                        class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i>
                                    <i (click)="eliminarProducto(producto._id)" class="fa fa-trash text-danger"
                                        aria-hidden="true"></i>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos
                        para mostrar
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>